<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://i.imgur.com/7i3w6yC.jpg"
            alt="Imagem de capa do card">
    </div>
    <div class="card-body">
        <h5 class="card-title text-center text-monospace">{{nome}}</h5>
        <p class="card-text text-center text-monospace"> Desenvolvedora Java Full Stack Jr.</p>

        <a href="https://www.linkedin.com/in/todreamgirl/"
            class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">Linkedin</a>
        <a href="https://github.com/todreamgirl" class="btn btn-outline-dark d-flex justify-content-center"
            target="_blank">Github</a>
    </div>

</div>